.xxlarge
{
    font-size: 70px;
}
.xlarge
{
    font-size: 30px;
}
.large
{
    font-size: large;
}
.red
{
    color: red;
}
.blue
{
    color: blue;
}
.kawhite
{
    color: whitesmoke;
}
.kagrey
{
    color: grey;
}
.forca
{
    color: #eedba7;
}
.xxsmall
{
    font-size: XX-Small;
}

.mt-50 {
    margin-top: 50px;
}

.nav-color {
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.kaywhite {
    color: white;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




























































































.center
{
    text-align: center;
}