{% extends "layout.html" %}
{% block body %}
<style>
    body {
      background-image: url('https://images4.alphacoders.com/879/87918.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <font style="font-size: 100px;" class="kagrey mt-50">Més </font>
      <font style="font-size: 100px;" class="kawhite mt-50">que </font>
      <font style="font-size: 100px;" class="kagrey mt-50">un </font>
      <font style="font-size: 100px;" class="kawhite mt-50">club</font>
      <font style="font-size: 80px;" class="forca xxlarge mt-50">Força Barça</h1>
    </div>
  </div>
</div>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <font style="font-size: 100px;" class="kawhite mt-50">Welcome!</font>
      <h1 class="forca xxlarge mt-50" style="font-size:80px;">This site is for Barça fans. I hope you enjoy the facilities we provide</h1>
    </div>
  </div>
</div>


<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>

<img src="https://cdn.theathletic.com/app/uploads/2019/10/24003128/clas5-1024x682.png" alt="shcedule" class="centerimage">

<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>

<img src="https://www.fcbarcelona.com/photo-resources/2019/02/20/61685632-c3ec-407b-9e8b-295a66ea0418/FEYENOORD-0-0-FC-BARCELONA-ARXIU-FCB-Optimized.jpg?width=1200&height=750" alt="shcedule" class="centerimage">


<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<footer class="center" style="color: grey; background-color: rgb(17, 17, 17);">
  <h6>Copy right &#169</h1>
  <h6>Manufacturers : Kian Fotovat And Kamran Fotovat</h1>
  <h6>Email us with (kianof2018@gmail.com) And (kamran.fotovat2018@gmail.com)</h1>
  <h6>Contact with us +98 9178656016 And +98 9175118377</h1>
</footer>
{% endblock %}
