<!DOCTYPE html>
<html lang="en">
    <head>
        <title>News</title>
        <style>
            body {
              background-image: url('https://www.dosde.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/b/o/book-fc-barcelona-bar%C3%A7a-illustrated-history-of-the-football-club_978-84-9103-081-2_55-001-01_B12.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>