{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Gerard Pique becomes joint highest scoring defender in the Champions League</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Gerard Pique scored his 16th Champions League goal on Wednesday against Dynamo Kiev in the Camp Nou and hit a couple of milestones along the way.

The goal means that Pique is now the joint highest scoring defender in Europe’s top competition after moving top of the pile and level with Roberto Carlos.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Pique’s strike also means he has surpassed Sylvinho to pick up the dubious honor of being the oldest player to score for Barcelona in the Champions League.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">There’s another record too which Pique is bound to enjoy. His goal means he has now outscored former Real Madrid skipper Sergio Ramos in the Champions League. He’s also done it in fewer games (16 goals in 122 games as opposed to 15 games in 129 matches, according to MisterChip) and without taking a bunch of penalties too.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">The goal was enough for Barcelona to take all the points against Dynamo Kiev and finally get their Champions League campaign up and running after starting off with dire defeats to Bayern Munich and Benfica.</p>
</div>
<img src="" alt="shcedule" class="centerimage">
{% endblock %}