{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Ansu Fati talks new contract, knee injury, Memphis Depay and El Clasico</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Barcelona celebrated Ansu Fati’s new contract on Thursday with a press conference at the Camp Nou where the 18-year-old got to answer a host of questions.

The striker couldn’t wipe the grin off his face throughout the presser and made it crystal clear that he had never been tempted to move away from Barcelona.

Fati also provided some interest insights into his knee injury, his connection with Memphis Depay and how he can improve his game.

Here are the highlights from the main man.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Ansu on his knee injury:

The knee is something I have now forgotten about. I worry about other things like how tired I’m getting. I’m very calm, very happy, I’m not having any pain and I hope it keeps going like this.

I never doubted I would come back and play. A few years ago something similar happened and that helped me evaluate everything. I came back from the other one so why can’t I come back from this?</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Ansu on his new contract:

From day one my first option was to stay here at Barcelona. I told my agent and we were able to reach an agreement. I am very happy that club has the confidence in me. It could be that I had offers from outside but it was always my dream to stay here and try to be a success here.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Ansu on wearing the No. 10:

I’m very grateful to the club that they have confidence in me and all of the captains. Another player could have had that number but luckily I got it and I’m very grateful to the club and the captains for offering it to me. For me there is no pressure, just motivation. Nobody is going to manage what Leo did. I have to take my own path. I don’t look too much at the numbers just what I can do and what I can bring to the team.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Ansu on El Clasico:

Playing a Clasico is always extra motivation. Real Madrid are our big rivals and you need to be ready for these big matches. I’m quite calm because I know the team will do everything they can to get the win. We need to improve but we are gong to go out and compete and I think in the Clasico there is never a favorite. It’s at home which is a factor in our favor and we are going to try and get the win.</p>
</div>
<img src="" alt="shcedule" class="centerimage">
{% endblock %}