{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Xavi hurls praise at Barcelona teenager Gavi</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Xavi has been talking about Barcelona midfielder Gavi and has made it clear he is a big fan of the club’s latest starlet.

Gavi only turned 17 in August but has broken into the first team this season under Ronald Koeman and has also been handed his Spain debut by Luis Enrique.

The teenager already looks set to become a regular in midfield for club and country and Xavi knows he’s a special talent.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">“He’s a guy with so much talent. What surprises me the most is that he is only 17 years old and he is competing like a guy who is 30 years old,” he said.

“He is already showing at the age of just 17 that he can compete at the highest level. It’s incredible. Technically, he is very good and he also has the physical attributes to be a success. He has everything to succeed and has a big future ahead of him.”</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Of course Xavi could end up managing Gavi at some point in the future. The club legend has made no secret of the fact it’s his dream to head home and coach Barca at some point in his career.

Xavi is currently contracted to Qatari side Al Sadd but admitted recently “he’s open to all possibilities” amid speculation he could replace Ronald Koeman at the Camp Nou.</p>
</div>
<img src="" alt="shcedule" class="centerimage">
{% endblock %}