{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Dani Alves: I miss Barcelona</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">“It is a pleasure and an honor to return home after such a long time, I miss Barça.”

Those were the words Dani Alves gave to Barça TV, FC Barcelona’s official channel.

The Brazilian had previously said: “If Barça thinks they need me, they just have to call me.”</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Alves was a key piece of three UEFA Champions League winning teams at Barcelona: 2009, 2011, and 2015. His linkup with Lionel Messi was legendary, as was his attack-minded runs.

And at 39, he is still an active player, having left São Paulo recently.

Will he actually return to the club he won so much with? It remains to be seen.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Alves also gave his opinion on the current state of the club saying, “the team is in a process of adaptation and transition as a result of all the circumstances, to then go back to doing things they were doing before.”

He also gave his opinion on his current successor at right-back, Sergiño Dest.

“He is a great player and has everything a full-back should have,” the Brazilian said.</p>
</div>
<img src="" alt="shcedule" class="centerimage">
{% endblock %}