{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Xavi: It’s my goal and dream to coach Barcelona</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Former Barcelona midfielder Xavi has once again made it clear it’s his dream to return to the Camp Nou and manage the Catalan giants at some point in his career.

The club legend is regularly linked with a Barcelona return and has already turned down a couple of approaches from his former club because it was not the right time.

Xavi said recently he’s “open to all possibilites” after rumors emerged he could replace Ronald Koeman and has now talked again about the possibility of coming home.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">“My idea is to coach Barcelona,” he said. “I have never hidden it, it is my goal and my dream. I don’t know if it will happen or not, if they will need me or not, but at the moment I am happy to be in Al-Sadd and very proud of it.

“If an offer comes in, it will be evaluated and then we will try to decide, but at the moment I am very happy here.”</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Al Sadd are currently top of the table in Qatar with maximum points after six games played as they look to defend their title.

Rumors about Barcelona and Xavi have gone a little quiet since president Joan Laporta publicly backed Koeman but are never too far away and are likely to return if the Dutchman’s team continues to struggle.</p>
</div>
<style>
    body {
      background-image: url('https://www.dosde.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/b/o/book-fc-barcelona-bar%C3%A7a-illustrated-history-of-the-football-club_978-84-9103-081-2_55-001-01_B12.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
</style>
<img src="" alt="" class="centerimage">
{% endblock %}