{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Sergio Agüero explains why he did not take the #10 shirt from Lionel Messi at Barcelona</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">

Sergio Agüero has publicly commented on rumors that FC Barcelona players asked him to take the #10 shirt after the departure of his friend and compatriot Lionel Messi.

Agüero wore #10 for his previous club, Manchester City, but he did not take it at Barcelona even after Messi’s departure.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">In the post-match presser following his debut, a 3-1 win over Valencia, Agüero confirmed that veteran players had asked him to wear the famous shirt.

However, he turned them down in order to wear #19.

“It is the number that I used during the U-20 World Cup in Holland and also in the national team,” he said.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">“Leo had #10, and when Piqué and some people from the club told me about the #10, I had already asked for #19. Besides, #10 looks pretty good on Ansu Fati. He returned with enthusiasm, he is young and we should be thankful we have such a talent in our ranks.”</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">he is young and we should be thankful we have such a talent in our ranks.”

Fati recently came back from a long-term injury and has made an instant impact wearing Messi’s old number. He was on target again against Valencia, and also earned a penalty that was converted by Memphis Depay.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Agüero was full of praise for the youngster.

“You have to help him to continue growing because today it is very difficult to stay at the highest level. We veterans are here to support him. You can tell that he has a talent, the kind that does not come out often. and you have to take advantage of it,” he said.</p>
</div>
<style>
    body {
      background-image: url('https://www.dosde.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/b/o/book-fc-barcelona-bar%C3%A7a-illustrated-history-of-the-football-club_978-84-9103-081-2_55-001-01_B12.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
</style>
<img src="" alt="" class="centerimage">
{% endblock %}