{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Samuel Umtiti left in tears by Barcelona but determined to stay</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">It’s no secret that Barcelona and Samuel Umtiti are at quite the crossroads. The Frenchman and Barca couldn’t come to any sort of an agreement on his leaving the club over the summer. That debacle has led to the awkward situation wherein Umtiti is basically exiled at the club but eager to stay.

His desire to remain at the club and play also led to some whistles at the Camp Nou during pre-season in the Joan Gamper Trophy and he has now opened on his situation in a new interview.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">

    “The whistles hurt,” he said.“I never thought that would happen at this club because it’s the club that I love.

    “[Mentally] it’s tough. There have been tough moments with injuries but I am better physically now. I am happy, but I would like to play and help the team. The coach makes the decisions and I must show I am good enough to play. I have to keep training hard.”
</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Umtiti also says he remains determined to succeed at the club but reveals he did break down in tears when he met president Joan Laporta to discuss his situation which led to him staying on at Barca.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">“I don’t see myself playing for another club, impossible. Right now, I am very clear on that. Football is my life, Barcelona is my life. I see myself here. I want to be a success here.

“I am in good shape, I just lack games, better shape than when I signed. Everything has changed since then: the training, my diet. I am stronger and quicker than before.

“I cried in the meeting. We spoke about some difficult issues; it was quite intense. I don’t speak much, but if I do tell you something, it comes from the heart.”</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">The French defender may have been granted his wish to stay at Barca but hasn’t featured at all this season and it’s a situation that doesn’t look like changing any time soon.</p>
</div>
<style>
    body {
      background-image: url('https://www.dosde.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/b/o/book-fc-barcelona-bar%C3%A7a-illustrated-history-of-the-football-club_978-84-9103-081-2_55-001-01_B12.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
</style>
<img src="" alt="" class="centerimage">
{% endblock %}