{% extends "MainNews.html" %}
{% block body %}
<div id="rcorners1" style="background-color: white; margin-left: 300px; margin-top: 65px; margin-right: 300px;">
    <h1 style="margin-left: 20px; font-size: 50px;">Gossip: Broke Barcelona ’willing’ to pay €90m for free agent Kylian Mbappe</h1>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">Barcelona may have enormous debts and be struggling to comply with La Liga’s salary cap but that’s not going to stop the Catalan giants from trying to sign Kylian Mbappe this summer, according to Diario AS.

Mbappe is out of contract in the French capital in 2022 and has already admitted he asked to leave last summer. He’s expected to move to Real Madrid but AS reckon Barca have other plans.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">The report reckons that the Catalans believe they will be able to make “one major transfer” before the start of next season and “one of the objectives” to get back to the top of European football is “to try to convince Kylian Mbappé to come to the Camp Nou.”

Barca will apparently put their faith in super agent Pini Zahavi to secure a deal for Mbappe and are willing to pay “90 million euros up front” to secure the France international who will be a free agent.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">The Catalans believe Real Madrid “are only willing to pay €50 million” so why they’ve decided on €90m is anyone’s guess. It gets better though, the report also thinks Barca can offer Mbappe a bigger salary that Los Blancos “with a limit set at the 17 million euros net that Gareth Bale earns.”

It’s a fun rumor for sure and comes after Barca chiefs have been sending mixed messages to supporters about the possibility of bringing in big names (or not) in the summer 2022 transfer window.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px; color: white;">.</p>
    <p class="ps" style="margin-left: 20px; margin-right: 20px;">CEO Ferran Reverter has said recently Barca may be able to sign stars if they can continue to improve the club’s economic situation, although vice president Eduard Romeu has claimed the club “won’t be able to sign the best players in the world for two years.”</p>
</div>
<img src="" alt="shcedule" class="centerimage">
{% endblock %}