<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-color nav-quiz">
            <div class="container-fluid">

              <a class="navbar-brand xxlarge blue" id="blink">Barca!</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link xlarge" style="color:white;" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link xlarge" href="#">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link xlarge"style="color:white;"  href="{{ url_for('quize') }}" >Quiz</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link xlarge" href="{{ url_for('logout') }}">Log out</a>
                  </li>
                </ul>
              </div>
            </div>
         </nav>
        <title>Quiz</title>
        <link href="static/style.css" rel="stylesheet">
        <script>
          function blink()
            {
                let body = document.querySelector('#blink')
                if (body.style.color == 'red')
                {
                    body.style.color = '#172774';
                }
                else
                {
                    body.style.color = 'red';
                }
            }

            // Blink every 500ms
            window.setInterval(blink, 500);
        </script>

        <script src="https://kit.fontawesome.com/e68760a70e.js" crossorigin="anonymous"></script>
    </head>
    <body class="back-color">
        <div class="start_btn"><button>Start Quiz</button></div>

        <div class="info_box">
            <div class="info_title">
                <span>Some Rules of this Quiz</span>
            </div>
            <div class="info_list">
                <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
                <div class="info">2. Once you select your answer, you can't reselect.</div>
                <div class="info">3. You can't select any option once time goes off.</div>
                <div class="info">4. You can't from the quiz while your playing.</div>
                <div class="info">5. You'll get points on the basis of your correct answer.</div>
            </div>
            <div class="buttons">
                <button class="quit">Exit Quiz</button>
                <button class="restart">Continue</button>
            </div>
        </div>

        <div class="quiz_box">
            <header>
                <div class="title">Awesome barcafan quiz!</div>
                <div class="timer">
                    <div class="time_text">Time Left</div>
                    <div class="timer_sec">15</div>
                </div>
            </header>
            <section>
                <div class="que_text">
                    <span>Which team has never accomplished a sextuple?</span>
                </div>
                <div class="option_list">
                    <div class="option">
                      <span>Barcelona</span>
                      <div class="icon tick"><i class="fas fa-check"></i></div>
                    </div>
                    <div class="option">
                      <span>Real Madrid</span>
                      <div class="icon cross"><i class="fas fa-times"></i></div>
                    </div>
                    <div class="option">
                      <span>Bayern Munichen</span>
                    </div>
                    <div class="option">
                      <span>Inter Milan</span>
                    </div>
                </div>
            </section>

            <footer>
              <div class="total_que">
                <span><p>2</p>of<p>5</p>Questions</span>
              </div>
              <button class="next_btn">Next Que</button>
            </footer>

        </div>

        <div class="result_box">
          <div class="icon">
            <i class="fas fa-crown"></i>
          </div>
          <div class="complete_text">You've completed the Barca Quiz!</div>
          <div class="score_text">
            <span>And sorry, you got only <p>2</p> out of <p>5</p></span>
          </div>
          <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
          </div>
        </div>

        <script src="static/script.js"></script>

    </body>
</html>